div{
    background-color: aqua;
    margin: 20px;
    padding: 20px;
}
h1{
    color: blueviolet;
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
h2{
    text-align: center;
    color: chocolate;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    text-align: center;
    color: bisque;
    background-color: chocolate;
    font-weight: bolder;

}
img{
    height: 900px;
    width: 900px;

}

ol{
    font-weight:bolder ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
    font-size: xx-large;
    border: 20px solid gray;
    border-radius: 30px;
    padding: 20px;
    margin: 50px;
}
li{
    margin-left: 700px;
    padding: 10px;
    
}